@using ASI.Basecode.Data.Models
@using ASI.Basecode.Data.Models.CustomModels
@model IEnumerable<VwUserTicketView>

@{
    ViewData["Title"] = "My Tickets";
    ViewBag.TableId = "myTicketsTable";
    var resMsg = TempData["ResMsg"] as AlertMessageContent;
}

<link href="~/assets/css/enlargeimagemodal.css" rel="stylesheet" />

<div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
    <h6 class="fw-semibold mb-0">My Tickets</h6>
    <ul class="d-flex align-items-center gap-2">
        <li class="fw-medium">
            <a href="index.html" class="d-flex align-items-center gap-1 hover-text-primary">
                <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
                Dashboard
            </a>
        </li>
        <li>-</li>
        <li class="fw-medium">Users</li>
    </ul>
</div>

<div class="card h-100 p-16 radius-12">
    <div>
        <div class="row pt-8 pb-8">
            <div class="col-12 text-end">
                <a asp-action="Create" class="btn btn-primary w-200-px"><i class="bi bi-plus-circle"></i>&nbsp; Create Ticket</a>
            </div>
        </div>
    </div>
    <table class="table bordered-table" id="myTicketsTable" style="transform:scale(0.95); table-layout:fixed">
        <thead>
            <tr>
                <th style="text-align:center !important; width:5%">
                    @Html.DisplayName("Id")
                </th>
                <th>
                    @Html.DisplayName("Category")
                </th>
                <th>
                    @Html.DisplayName("Issue Description")
                </th>
                <th>
                    @Html.DisplayName("Status")
                </th>
                <th>
                    @Html.DisplayName("File Attached")
                </th>
                <th>
                    @Html.DisplayName("Date Created")
                </th>
                <th>
                    @Html.DisplayName("Last Modified")
                </th>
                <th class="text-center">
                    @Html.DisplayName("Action")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center !important">
                        @Html.DisplayFor(modelItem => item.TicketId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td text-align:left">
                        @Html.DisplayFor(modelItem => item.IssueDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusName)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.AttachmentPath))
                        {
                            <img src="@item.AttachmentPath" class="w-120-px h-120-px cursor-pointer" id="imgAttached" onclick="openModal('@item.AttachmentPath')"/>
                        } else
                        {
                            @("No file attached")
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModified)
                    </td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.TicketId"><i class="bi bi-pencil-square" style="color:#0d6efd"></i></a> |
                        <a href="#" onclick="confirmDelete('@item.TicketId'); return false;" id="@item.TicketId"><i class="bi bi-trash" style="color:red"></i></a>
                    </td>
                </tr>
            }
        </tbody>
        <div id="imageModal" class="modal" onclick="closeModal()">
            <span class="close">&times;</span>
            <img class="modal-content" id="enlargedImg">
        </div>
    </table>
</div>

<script src="~/assets/js/lib/jquery-3.7.1.min.js"></script>
<script src="~/toastr/toastr.min.js"></script>
<script src="~/assets/js/enlargeimagemodal.js"></script>
<script type="text/javascript">
    function openModal(imagePath) {
        var modal = document.getElementById("imageModal");
        var modalImg = document.getElementById("enlargedImg");
        modal.style.display = "flex";
        modalImg.src = imagePath;
        modalImg.style.width = "50%";
    }

    function closeModal() {
        var modal = document.getElementById("imageModal");
        modal.style.display = "none";
    }

    function confirmDelete(ticketId) {
        toastr.options = {
            closeButton: true,
            timeOut: 0,
            extendedTimeOut: 0,
            positionClass: "toast-top-center",
        }

        toastr.warning(
            "<button type='button' id='confirmYes' class='btn btn-primary btn-sm'>Yes</button><button type='button' id='confirmNo' class='btn btn-secondary btn-sm'>No</button>",
            'Are you sure you want to delete this ticket?',
            {
                allowHtml: true,
                onShown: function (toast) {
                    document.getElementById('confirmYes').addEventListener('click', async function () {
                        console.log('Confirmed delete for TicketId:', ticketId);
                        try {
                            const url = `/UserTicket/Delete/${ticketId}`;
                            const response = await fetch(url, { method: "get" });

                            window.location.href = `@Url.ActionLink("Index", "UserTicket")`;
                        } catch (error) {
                            console.error('Fetch error:', error);
                            window.location.reload();
                        }
                        toastr.clear(toast);
                    });

                    document.getElementById('confirmNo').addEventListener('click', function () {
                        console.log('Canceled delete');
                        toastr.clear(toast);
                    });
                }
            }
        );
    }
</script>