@using ASI.Basecode.Data.Models.CustomModels
@model ASI.Basecode.Data.Models.CustomModels.CustomEditTicketAssignment

@{
    ViewData["Title"] = "Edit";
    var resMsg = TempData["ResMsg"] as AlertMessageContent;
    var userType = ViewData["UserType"];
    var root = ViewData["root"] as string;
}

<div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
    <h6 class="fw-semibold mb-0">Update Ticket</h6>
    <ul class="d-flex align-items-center gap-2">
        <li class="fw-medium">
            <a href="index.html" class="d-flex align-items-center gap-1 hover-text-primary">
                <iconify-icon icon="solar:home-smile-angle-outline" class="icon text-lg"></iconify-icon>
                Dashboard
            </a>
        </li>
        <li>-</li>
        <li class="fw-medium">Update Ticket</li>
    </ul>
</div>

<div class="card h-100 p-0 radius-12">
    <div class="card-body p-24">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-8 col-lg-10">
                <div class="card border">
                    <div class="card-body">
                        <form asp-action="Edit" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Ticket.TicketId" />
                            <input type="hidden" asp-for="AssignedTicket.AssignedTicketId" />
                            <div class="mb-20">
                                <label asp-for="Ticket.CategoryId" class="form-label fw-semibold text-primary-light text-sm mb-8">Issue Type <span class="text-danger-600">*</span></label>
                                <select class="form-control radius-8 form-select form-select-sm w-auto ps-12 py-6 radius-12 h-40-px" asp-for="Ticket.CategoryId">
                                    @foreach (var item in Model.Category)
                                    {
                                        <option class="form-control radius-8" value="@item.CategoryId">@item.CategoryName</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-20">
                                <label asp-for="Ticket.PriorityId" class="form-label fw-semibold text-primary-light text-sm mb-8">Priority Level <span class="text-danger-600"></span></label>
                                <select class="form-control radius-8 form-select form-select-sm w-auto ps-12 py-6 radius-12 h-40-px" asp-for="Ticket.PriorityId">
                                    @if (Model.Ticket.PriorityId is null)
                                    {
                                        <option class="form-control radius-8" selected>Not Set</option>
                                    }
                                    @foreach (var item in Model.Priority)
                                    {
                                        <option class="form-control radius-8" value="@item.PriorityId">@item.PriorityName</option>
                                    }

                                </select>
                            </div>
                            <div class="mb-20">
                                <label asp-for="AssignedTicket.AgentId" class="form-label fw-semibold text-primary-light text-sm mb-8">Assign to <span class="text-danger-600"></span></label>
                                <select class="form-control radius-8 form-select form-select-sm w-auto ps-12 py-6 radius-12 h-40-px" asp-for="AssignedTicket.AgentId">
                                    @if (Model.Agent is null)
                                    {
                                        <option class="form-control radius-8" selected>Not Set</option>
                                    }
                                    @foreach (var item in Model.Agents)
                                    {
                                        if ((!string.IsNullOrEmpty(item.Name) && Model.Agent is not null) && Model.Agent.Name == item.Name)
                                        {
                                            <option class="form-control radius-8" value="@item.UserId" selected>@item.Name
                                                @{
                                                    foreach (var agent in Model.ticketCountForAgent)
                                                    {
                                                        if (agent.AgentId == item.UserId)
                                                        {
                                                            <span>@($"({agent.NoOfTickets})")</span>
                                                        }
                                                    }
                                                }
                                            </option>
                                        }
                                        else
                                        {
                                            <option class="form-control radius-8" value="@item.UserId">@item.Name
                                                @{
                                                    foreach (var agent in Model.ticketCountForAgent)
                                                    {
                                                        if (agent.AgentId == item.UserId)
                                                        {
                                                            <span>@($"({agent.NoOfTickets})")</span>
                                                        }
                                                    }
                                                }
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-20">
                                <label asp-for="AssignedTicket.AgentId" class="form-label fw-semibold text-primary-light text-sm mb-8">Status <span class="text-danger-600"></span></label>
                                <select class="form-control radius-8 form-select form-select-sm w-auto ps-12 py-6 radius-12 h-40-px" asp-for="Ticket.StatusId">
                                    @foreach (var item in Model.Status)
                                    {
                                        <option class="form-control radius-8" value="@item.StatusId">@item.StatusName</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-20">
                                <label asp-for="Ticket.IssueDescription" class="form-label fw-semibold text-primary-light text-sm mb-8">Issue Description <span class="text-danger-600">*</span></label>
                                <textarea id="editor" asp-for="Ticket.IssueDescription" class="form-control radius-8" maxlength="255" rows="4" readonly></textarea>
                            </div>
                            <label asp-for="Ticket.IssueDescription" class="form-label fw-semibold text-primary-light text-sm mb-8">File Attached<span class="text-danger-600"></span></label>
                            @if (!string.IsNullOrEmpty(Model.Ticket.AttachmentPath))
                            {
                                <div class="mb-20">
                                    <img class="w-240-px h-240-px mt-1" id="filePreview" src="@Model.Ticket.AttachmentPath" style="display:block" />
                                </div>
                                @(Model.Ticket.AttachmentPath.Substring(Model.Ticket.AttachmentPath.LastIndexOf('/') + 1))
                            }
                            else
                            {
                                @("No file attached")
                            }
                            <div class="mb-20">
                            </div>
                            <div class="d-flex align-items-center justify-content-center gap-3">
                                <a asp-action="Index" class="border border-danger-600 bg-hover-danger-200 text-danger-600 text-md px-56 py-11 radius-8">
                                    Cancel
                                </a>
                                <button type="submit" class="btn btn-primary border border-primary-600 text-md px-56 py-12 radius-8">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/lib/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('file').addEventListener('change', function (event) {
            var input = event.target;
            var reader = new FileReader();
            var removeImgBtn = document.getElementById("removeImgBtn");
            removeImgBtn.style.display = 'block';
            reader.onload = function () {
                var imgElement = document.getElementById('filePreview');
                imgElement.src = reader.result;
                imgElement.style.display = 'block';
            };

            if (input.files && input.files[0]) {
                reader.readAsDataURL(input.files[0]);
            }
        });
    });

    function removeImg() {
        var img = document.getElementById("filePreview");
        var removeImgBtn = document.getElementById("removeImgBtn");
        var file = document.getElementById("file");
        var removedOriginalImg = document.getElementById("removedOriginalImg");
        img.src = "";
        img.style.display = 'none';
        removeImgBtn.style.display = 'none';
        file.value = null;
        removedOriginalImg.value = 'true';
    }
</script>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@